{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Bookmarked Books</h2>
    <div class="row">
        {% for book in bookmarked_books %}
        <div class="col-md-4 mb-4"> <!-- Use col-md-4 for three columns per row -->
            <div class="card mx-2"> 
                <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}" style="height: 340px; "> <!-- Use object-fit to ensure the image covers the area -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" style="font-size: 14px;">{{ book.title }}</h5>
                    <div class="mt-auto d-flex justify-content-between"> <!-- Flexbox for button alignment -->
                        <a href="{% url 'read_book' book.id %}" class="btn btn-primary btn-sm">Read</a>
                        <a href="{% url 'remove_bookmark' book.id %}" class="btn btn-secondary btn-sm">Remove bookmark</a>
                        <a href="#" class="btn btn-dark btn-sm">Download</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}